extends layout

block content
    h1 Register
    form(method='POST', action='/users/register')
        #form-group
            label Name:
            input.form-control(name='name', type='text')
        .mt-4
        #form-group
            label Email:
            input.form-control(name='email', type='text')
        .mt-4
        #form-group
            label Username:
            input.form-control(name='username', type='text')
        .mt-4
        #form-group
            label Password:
            input.form-control(name='password', type='password')
        .mt-4
        #form-group
            label Confirm Password:
            input.form-control(name='password2', type='password')
        .mt-3
        input.btn.btn-primary(type='submit', value='Submit')